<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whack A Cooler!</title>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <h1>Whack-a-Cooler!</h1>
    <h1 class="score"> 0</h1>
        <div class = "start">
            <button onClick="initGame()">Start!</button>
        </div>
        <div class="game">
            <div class="hole hole1">
                <div class="mole" id="cooler" >x</div>
            </div>
            <div class="hole hole2">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole3">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole4">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole5">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole6">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole7">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole8">
                <div class="mole" id="cooler"></div>
            </div>
            <div class="hole hole9">
                <div class="mole" id="cooler"></div>
            </div>
        </div>
        <div class="highscores">
            <h1>Highscores:</h1>
            {% for r in score_list %}
                <tr>
                    <td></td>
                    <td>{{ r['user_name'] }}</td>
                    <td>{{ r['score'] }}</td>
                </tr>
        </div>
    <script src="../static/script/game.js"></script>
</body>
</html>