<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whack A Cooler!</title>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/welcome.css">
</head>
<body>
    <h1>Whack-a-Cooler!</h1>

    <h2>You will see the Coolers popping up behind their tables - hit them as often as possible!</h2>

    <div class="container-start">
    <img src="../static/img/adrian.before.png" onmouseover="this.src='../static/img/adrian.after.png'"
         onmouseout="this.src='../static/img/adrian.before.png'" id="adrian"></img>
    <img src="../static/img/kathi.before.png" onmouseover="this.src='../static/img/kathi.after.png'"
         onmouseout="this.src='../static/img/kathi.before.png'" id="kathi"></img>
    <img src="../static/img/david.before.png" onmouseover="this.src='../static/img/david.after.png'"
         onmouseout="this.src='../static/img/david.before.png'" id="david"></img>
    </div>
    <br>
    <div class="container-start">
        <form action="#" method="post">
            <label for="user_name">Please enter your name:</label>
            <input type="text" name="user_name" id="user_name">
            <button type="Submit">Play!</button>
        </form>
    </div>
</html>